{% extends 'scr:templates/layout.jinja2' %}

{% block title %}{{ room.name }} - Delete{% endblock title %}

{% block body %}
{% import 'scr:templates/macros/forms.jinja2' as form with context %}
<div class="grid-container">
  <main class="grid-x">
    <form class="cell small-12 medium-8 medium-offset-2 large-6 large-offset-3" action="{{ 'room.delete'|route_url(rid=room.id) }}" method="post">
      <h1>{{ room.name }} - Delete</h1>
      <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}"/>
      <div class="button-list">
        <a href="{{ 'root'|route_url() }}" class="button secondary">Don't delete</a>
        <button class="button alert">Delete</button>
      </div>
    </form>
  </main>
</div>
{% endblock body %}
