form {
    label {
        display: block;
        width: 100%;
        margin-bottom: $global-margin;
        font-size: rem-calc(14px);

        input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
            width: 100%;
            display: block;
            box-sizing: border-box;
            background: $white;
            border: 1px solid $medium-gray;
            border-radius: rem-calc(3px);
            font-size: $global-font-size;
            padding: $global-padding/4 $global-padding/2;
            margin-top: $global-margin/4;
            box-shadow: inset 0 0 rem-calc(3px) $white;
            transition: border-color 0.3s, box-shadow 0.3s;

            &:focus {
                border-color: $primary-colour;
                box-shadow: inset 0 0 rem-calc(3px) $medium-gray;
            }
        }

        &.error {
            color: $warning;

            input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
                border-color: $warning;

                &:focus {
                    border-color: $primary-colour;
                }
            }

            span.error {
                display: block;
                font-size: rem-calc(12px);
                margin-top: $global-margin/4;
            }
        }
    }
}
