#room {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(rem-calc(200px), 20rem) 1fr;
    height: 100%;

    .chat {
        ol {
            li {
                list-style-type: none;
            }
        }
    }
}
