$primary-colour: #000044;
$secondary-colour: #ffff00;
$warning: #aa0000;
$white: #ffffff;
$light-gray: #dddddd;
$medium-gray: #aaaaaa;
$black: #222222;
$transparent-background: #00000022;

$global-padding: 1rem;
$global-margin: 1rem;

$global-font-size: 16px;
