<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ request.static_url('scr:static/favicon.png') }}"/>
    <title>{% block title %}Senior Commong Room{% endblock title %}</title>
    <link rel="stylesheet" href="{{ request.static_url('scr:static/theme.css') }}"/>
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
