name: End-to-End Tests

on:
  push:
    branches: [ default ]
  pull_request:
    branches: [ default ]

jobs:
  e2e-test:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 3
      matrix:
        python-version: ['3.9']
        node-version: ['16']

    steps:
    - uses: actions/checkout@v2

    - name: Setup Environment
      run: |
        echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
        echo "PIPX_HOME=$HOME/.local/pipx" >> $GITHUB_ENV
        echo "PIPX_BIN_DIR=$HOME/.local/bin" >> $GITHUB_ENV

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/setup-node@v2.4.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Setup Environment
      run: |
        echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
        echo "PIPX_BIN_DIR=$HOME/.local/bin" >> $GITHUB_ENV

    - name: Install Base Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install python3-venv pipx
        pipx install poetry

    - name: Install Dependencies
      run: |
        poetry install
        cd src/frontend
        npm install

    - name: Build Frontend
      run: |
        cd src/frontend
        ./node_modules/.bin/rollup -c

    - name: Run Tests
      run: |
        poetry run python -m senior_common_room &
