name: Release

on:
  push:
    branches: [ default ]
    tags:
      - 'v*'

jobs:
#  build-docker-image:
#    runs-on: ubuntu-20.04

#    steps:
#    - uses: actions/checkout@v2

#    - name: Set up Python 3.9
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.9

#    - name: Branch name
#      id: branch_name
#      run: |
#        echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
#        echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
#        echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/v}

#    - name: Setup Path
#      run: |
#        echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
#        echo "PIPX_BIN_DIR=$HOME/.local/bin" >> $GITHUB_ENV

#    - name: Install Base Dependencies
#      run: |
#        sudo apt-get update
#        sudo apt-get install python3-venv pipx
#        pipx install poetry

#    - name: Build Application
#      run: |
#        poetry build

#    - name: Set up Docker Buildx
#      uses: docker/setup-buildx-action@v1

#    - name: Login to DockerHub
#      uses: docker/login-action@v1
#      with:
#        username: scmmmh
#        password: ${{ secrets.DOCKERACCESSTOKEN }}

#    - name: Build and Push Image
#      uses: docker/build-push-action@v2
#      with:
#        context: .
#        file: docker/production/Dockerfile
#        push: true
#        tags: scmmmh/senior-common-room:${{ steps.branch_name.outputs.SOURCE_TAG }}

  build-frontend:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install Dependencies
      run: |
        cd src/frontend
        npm install

    - name: Build Frontend
      run: |
        cd src/frontend
        rollup -c

    - name: Create Packages
      run: |
        cp -r src/frontend/public ./frontend
        tar -jcvf scr_frontend.tar.bz2 ./frontend
        zip -r scr_frontend.zip ./frontend
